<div>
    <swiper
    [navigation]="true"
    [pagination]="{ clickable: true }"
    [loop]="true"
    [autoplay]="true"
    (slideChange)="onSlideChange()"
    effect="cube"
    class="swiper">
        <ng-template swiperSlide>
            <div class="swiperSliderFisrt">
                <img src="./assets/top_ten.png" alt="" class="topTen">
            </div>
        </ng-template>
        <ng-container *ngFor="let movie of this.movies; index as i">
            <ng-template swiperSlide >
                <div class="swiperSlider">
                    <!-- <div class="titleContainer">
                        <span class="titleCarousel" slot="wrapper-end">{{movie.title}}</span>
                    </div> -->
                    <div class="topMovie">
                        <h2>{{i + 1}}</h2>
                        <img onerror="this.src='./assets/not-found.jpg'"
                            src="{{movieImgPath + movie.poster_path }}" alt="" />
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </swiper>
</div>