<div>
    <swiper
    [config]="config"
    [navigation]="true"
    [pagination]="{ clickable: true }"
    (slideChange)="onSlideChange()"
    
    class="swiper">
        <ng-container *ngFor="let movie of this.movies; index as i">
            <ng-template swiperSlide >
                <div class="swiper-slider-content">
                    <div class="topMovie">
                        <h2 class="title{{i}}">{{i + 1}}</h2>
                        <img onerror="this.src='./assets/not-found.jpg'"
                            src="{{movieImgPath + movie.backdrop_path }}" alt="" class="movieImg" />
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </swiper>
</div>