.container{
  margin: auto;
}

.tittle{
  text-align: center;
  font-size: 100px;
  width: auto;
  margin: 50px 250px 50px 250px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.659);
}

.search{
  text-align: center;
}

.fieldText{
  height: 40px;
  width: 50%;
}

.movisList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  padding: 10px;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 100px;
}

.movieCard {
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  a{
    text-decoration:none;
    color: black;
    justify-content: space-between;
  }
}

.movieCard:hover {
  opacity: 0.6;
}

.movieImg {
  border-radius: 2%;
  background-color: white;
  margin-bottom: 20px;
}

.movieTitle {
  font-size: 1.5em;
  font-weight: bold;
  height: 55px;
  width: 260px;
  margin: 15px;
  color: white;
  
}


@media (max-width: 560px) {
  .movieImg {
    width: 85%;
    height: auto;
  }

  .movieTitle {
    font-size: 1em;
  }

  .movieVote {
    font-size: 1.2em;
  }
}
