.container{
  margin: 10px;
}
.search{
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}
.title-login{
  display: flex;
  flex-direction: row-reverse;
}

.tittle{
  font-size: 100px;
  width: auto;
  margin: 5px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.659);
  flex-grow: 1;
  position: relative;
  left: 20px;
}
.icon{
  color: white;
  margin: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 35px;
}
.fieldText{
  height: 40px;
  width: 50%;
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
}

.movisList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 20px;
  padding: 10px;
  justify-content: center;
  justify-items: center;
  grid-column-gap: 100px;
}

.movieCard {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  a{
    text-decoration:none;
    color: black;
    justify-content: space-between;
  }
  :hover{
    opacity: 0.6;
  }
}

.movieImg {
  border-radius: 2%;
  background-color: white;
  margin-bottom: 20px;
  height: 400px;
  width: 280px;
}

.movieTitle {
  font-size: 1.5em;
  font-weight: bold;
  height: 55px;
  width: 260px;
  max-height: 60px;
  margin: 15px;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  height: 2px;
  width: 280px;
  background-color: white;
}

.errorTitle{
  color: white;
    text-align: center;
    margin: 50px;
    font-size: 30px;
}

@media (max-width: 560px) {
  .tittle{
    font-size:50px;
  }
  .movieImg {
    width: 85%;
    height: auto;
  }

  .movieTitle {
    font-size: 1em;
  }

  .movieVote {
    font-size: 1.2em;
  }
}
