.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color: white;
}
.button{
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
}
input{
    width: 300px;
    margin-bottom: 10px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid black;
}