<app-navegation></app-navegation>
<div *ngIf="this.error.length > 1; else elseBlock" class="errorMesage">
  {{this.error}}
</div>
<ng-template #elseBlock>
  <div class="detailsContainer">
    <img class="movieImg col" onerror="this.src='./assets/not-found.jpg'" src="{{movieImgPath + movie.poster_path}}"
      alt="" />
    <div class="col movieDetails">
      <p><strong>Tittle: </strong>
        {{movie.title}}
      </p>

      <p>
        <strong>Description: </strong>
        {{movie.overview}}
      </p>
    </div>
  </div>
  <div class="starContainer">
    <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
      <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
        (mouseout)="removeClass()"> <span class="material-icons">star</span>
      </li>
    </ul>
    <span class="material-icons {{ this.favoriteMovie ? 'selectedFavorite':'iconFavorite'}}"
      (click)="setFavoriteMovie(this.favoriteMovie)">favorite</span>
  </div>
</ng-template>