.detailsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tittle {
    text-align: center;
    font-size: 100px;
    width: auto;
    margin: 50px 250px 50px 250px;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.659);
}

.movieText {
    text-align: center;
    color: white;
}

.col {
    max-width: 400px;
    margin: 20px;
}

.movieImg {
    border-radius: 15px;
    height: 80%;
}

.movieDetails {
    font-size: 1.5em;

    p {
        color: white;
    }
}

.starContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .rating-list {
        display: inline-block;
        list-style: none;
        padding: 5px;
        cursor: pointer;
    }

    .rating-list li {
        font-size: 20px;
        float: right;
        color: #ddd;
        padding: 10px 5px;
    }

    .rating-list li.selected {
        color: #ffd700;
    }

    .iconFavorite {
        color: white;
        margin-left: 90px;
        position: relative;
        bottom: 5px;
        cursor: pointer;
        
    }
    .selectedFavorite{
        color: red;
        margin-left: 90px;
        position: relative;
        bottom: 5px;
        cursor: pointer;
    }
}

.relatedMovies{
    margin: 25px;
}

.titleRelatedMovies{
    color: white;
    text-align: center;
}
.play-icon{
    color: white;
    font-size: 50px;
    cursor: pointer;
}

.cardVideo{

    iframe{
        width: 100%;
        height: 250px;
    }

    .logout {
        display:none;
    }
    
    .selected {
        visibility: visible;
    }
}


.errorMesage {
    color: white;
    text-align: center;
    margin: 50px;
    font-size: 30px;

}