<div class="container">
    <app-navegation class="navBar"></app-navegation>
    <div *ngIf="this.session_id; else elseBlock">
        <div class="flexContainer" *ngFor="let movie of favoriteMovies">
            <div>
                <img class="image" alt="" onerror="this.src='./assets/not-found.jpg'"
                    src="{{movieImgPath + movie.poster_path }}">
            </div>
            <div class="card">
                <div class="titleCardContainer">
                    <h2>{{movie.title}}</h2>
                    <mat-icon (click)="deleteFavoriteMovie(movie.id)">delete</mat-icon>
                </div>
                <div class="dateRateContainer">
                    <p>{{movie.release_date}}</p>
                    <div>
                        <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
                            <li [ngClass]="{'selected': (star <= movie.rating)}"> <span
                                    class="material-icons">star</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div>
                    <p>{{movie.overview}}</p>
                </div>
            </div>
        </div>
    </div>
    <ng-template #elseBlock>
        <h2>You not are register</h2>
    </ng-template>
</div>