.gridBox {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    color: white;
    background-color: #121212;
    justify-content: center;

    .arrow {
        display: flex;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;
    }

    input {
        height: 25%;
        width: 170px;
        border-radius: 5px;
        background-color: #9c9b9bab;
        outline: none;
        border: 1px solid #121212;
    }

    input:focus {
        .serach-icon {
            visibility: hidden;
        }
    }

    .titleHome {
        display: flex;
        justify-content: center;

        .logo {
            height: 75px;
            width: auto;
        }
    }

    .toggleContainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
    }

}

.input-hidden {
    border-radius: 5px;
    outline: none;
    border: 1px solid #121212;
    position: absolute;
    margin-right: 15px;
    right: 0;
}

mat-icon {
    font-size: 30px;
    width: auto;
    height: auto;
    padding-right: 15px;
    cursor: pointer;
}

.logout {
    display: none;
}

.logout-arrow,
.logout-input {
    visibility: hidden;
}


.selected {
    visibility: visible;
}

@media (max-width: 700px) {

    input {
        width: 130px !important;
    }
}

@media (max-width: 560px) {

    .logo {
        height: 70px !important;
    }

    .serach-icon {
        right: 65% !important;
        font-size: 15px !important;
    }

    input {
        width: 100%;
        font-size: 11px;
    }

    mat-icon {
        font-size: 20px;
    }

}